polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.login1.inhibit") === 0 &&
        subject.user == "@INSTALL_USER@") {
        return polkit.Result.YES;
    }
});
